
.containerr {
  /* border:2px solid blue; */
    text-align:center;
    width:450px;
    height:auto;
    /* background-color:gray.100; */
    background-color: rgba(240, 240, 240, 0.5);
}

.cart {
  font-size: 15px;
  padding-top: 10px;

}
.checkout {
  margin:10%;
  /* border:2px solid red; */
  line-height: 3;
}
.amount {
  justify-content: space-between;
}
.checkout_button {
  width:80%;
  border-radius:20%;
  border: 1px solid black
}