
.container {
    align-items:center;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    background-color:#292C45;
    color: white;
    margin-top: -25px;
}

.heading {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.ul {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    width: 500px;
    align-items:center;
    flex-wrap: wrap;
    list-style: none;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .earth {
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    background: radial-gradient(circle, rgba(205, 182, 182, 0.2) 0%, transparent 60%);

  }
  .earth img {
    width:75%;
    animation: rotation 50s linear infinite;
    padding: 5%; 
}
.circle{
    position: absolute;
    border: 2px solid white;
    border-radius: 50%; 
    display: inline-block; 
    width: 47%;
    height: 100%;
    animation: rotation 50s linear infinite;
}
.circle:hover {
    box-shadow: 0 0 500px rgba(52, 152, 219, 1);
    transition: box-shadow 1s ease-in-out;
}

.circle ul {
    list-style: none;
    justify-content: center;
}
.circle ul:hover {
    box-shadow: 0 0 500px rgba(52, 152, 219, 1);
    transition: box-shadow 0.1s ease-in-out;
}

.ul > div{
    border: 2px solid white;
    border-radius: 50%; 
    width: 50px;
    justify-content: center;
    display:flex;
    flex-direction:column;
    height:50px; 
    text-align: center;    
    position: fixed;
    background-color: #292C45;

}


.li:first-child {
    left:20px;
    top:60px;
}
.li:nth-child(2) {
    left: 190px;
    top: -25px;
}



.li:nth-child(3) {
    left: 360px;
    top:60px;
}

.li:nth-child(4) {
    left: -15px;
    top:200px;
}

.li:nth-child(5) {
    left: 390px;
    top:200px;
}


.li:nth-child(6) {
    left: 335px;
    top:320px;
}

.li:nth-child(7) {
    left: 200px;
    top:390px;
}

.li:nth-child(8) {
    left: 30px;
    top:330px;
}

.li:hover {
    background-color: rgba(52, 152, 219, 1);
    box-shadow: 0 0 50px rgba(52, 152, 219, 1);
    transition: box-shadow 0.1s ease-in-out;
}

.stone {
    /* border: 2px solid red; */
    position:absolute;
    width: 10px;
    height: 140px;
    background: linear-gradient(to top, #5a64a5, transparent);
    top: 100px;
    left:100px;
    border-radius:50px;
    opacity: 0;
    animation: stone 7s ease 0s infinite;
  }
  @keyframes stone {
    from {
      transform: translateY(-500%);
      opacity: 1;
    }
    to {
      transform: translateY(500%);
      opacity: 0.3;
    }
    
  }
  .stone:nth-child(2) {
    top: 300px;
    left: 400px;
    animation-delay: .2s;
    animation-duration: 4s;
  }
  .stone:nth-child(3) {
    top: 500px;
    left: 200px;
    animation-delay: .7s;
    animation-duration: 6s;
  }
  .stone:nth-child(4) {
    top: 100px;
    left: inherit;
    right: 100px;
    animation-delay: .2s;
    animation-duration: 4s;
  }
  .stone:nth-child(5) {
    top: 300px;
    left: inherit;
    right: 400px;
  }
  .stone:nth-child(6) {
    top: 500px;
    left: inherit;
    right: s00px;
  }
  .stone:nth-child(7) {
    top: 0px;
    left: 45%;
  }
  .stone:nth-child(even) {
    background: linear-gradient(to top, #384284, transparent);
    box-shadow: 0 4pc 94px #384fde;
  }
  
  

@media only screen and (max-width: 768px) {
    .ul {
        width: auto;
        font-size: 12px;
        padding: 0px 5% 10% 5%;
    }
    .heading {
        margin-top: 10%;
        font-size: 22px;
    }

    .li {
        width: 35px;
        height:35px; 
        position: absolute;
    }

    .li:first-child {
        left:130px;
        top:65px;
    }
    
    .li:nth-child(2) {
        left: -10px;
        top: 35px;
    }
    
    
    .li:nth-child(3) {
        left:50px;
        top:125px;
    }
    
    .li:nth-child(4) {
        left:95px;
        top:115px;
    }
    
    .li:nth-child(5) {
        left: 65px;
        top:-15px;
    }
    
    
    .li:nth-child(6) {
        left: 15px;
        top:0px;
    }
    
    .li:nth-child(7) {
        left: 110px;
        top:5px;
    }
    
    .li:nth-child(8) {
        left: 5px;
        top:100px;
    }
}

.flex:hover {
    box-shadow: 0 0 40px rgb(188, 188, 188);
    transition: box-shadow 1s ease-in-out;
}

/* .container {
    align-items:center;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    background-color:#292C45;
    color: white;
    margin-top: -25px;
}

.heading {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.ul {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    width: 500px;
    align-items:center;
    flex-wrap: wrap;
    list-style: none;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .earth {
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    background: radial-gradient(circle, rgba(205, 182, 182, 0.2) 0%, transparent 60%);

  }
  .earth img {
    width:75%;
    animation: rotation 50s linear infinite;
    padding: 5%; 
}
.circle{
    position: absolute;
    border: 2px solid white;
    border-radius: 50%; 
    display: inline-block; 
    width: 47%;
    height: 100%;
    animation: rotation 50s linear infinite;
}
.circle:hover {
    box-shadow: 0 0 500px rgba(52, 152, 219, 1);
    transition: box-shadow 0.1s ease-in-out;
}

.circle ul {
    list-style: none;
    justify-content: center;
}
.circle ul:hover {
    box-shadow: 0 0 500px rgba(52, 152, 219, 1);
    transition: box-shadow 0.1s ease-in-out;
}

.li {
    border: 2px solid white;
    border-radius: 50%; 
    width: 50px;
    justify-content: center;
    display:flex;
    flex-direction:column;
    height:50px; 
    text-align: center;    
    position: fixed;
    background-color: #292C45;

}


.li:first-child {
    left:20px;
    top:60px;
}
.li:nth-child(2) {
    left: 190px;
    top: -25px;
}



.li:nth-child(3) {
    left: 360px;
    top:60px;
}

.li:nth-child(4) {
    left: -15px;
    top:200px;
}

.li:nth-child(5) {
    left: 390px;
    top:200px;
}


.li:nth-child(6) {
    left: 335px;
    top:320px;
}

.li:nth-child(7) {
    left: 200px;
    top:390px;
}

.li:nth-child(8) {
    left: 30px;
    top:330px;
}

.li:hover {
    background-color: rgba(52, 152, 219, 1);
    box-shadow: 0 0 50px rgba(52, 152, 219, 1);
    transition: box-shadow 0.1s ease-in-out;
}


  

@media only screen and (max-width: 768px) {
    .ul {
        width: auto;
        font-size: 12px;
        padding: 0px 5% 10% 5%;
    }
    .heading {
        margin-top: 10%;
        font-size: 22px;
    }

    .li {
        width: 35px;
        height:35px; 
        position: absolute;
    }

    .li:first-child {
        left:130px;
        top:65px;
    }
    
    .li:nth-child(2) {
        left: -10px;
        top: 35px;
    }
    
    
    .li:nth-child(3) {
        left:50px;
        top:125px;
    }
    
    .li:nth-child(4) {
        left:95px;
        top:115px;
    }
    
    .li:nth-child(5) {
        left: 65px;
        top:-15px;
    }
    
    
    .li:nth-child(6) {
        left: 15px;
        top:0px;
    }
    
    .li:nth-child(7) {
        left: 110px;
        top:5px;
    }
    
    .li:nth-child(8) {
        left: 5px;
        top:100px;
    }
}
 */
