.container {
    /* border: 2px solid red; */
    align-items:center;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    background-color:#292C45;
    color: white;
    margin-top: -25px;
}

.heading {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.ul {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    width: 500px;
    /* border: 2px solid red; */
    align-items:center;
    flex-wrap: wrap;
    list-style: none;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .earth {
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 5%;
    /* border: 2px solid red; */
    margin-bottom: 5%;
    background: radial-gradient(circle, rgba(205, 182, 182, 0.2) 0%, transparent 50%);

  }
  .earth img {
    width:75%;
    animation: rotation 50s linear infinite;
    padding: 5%; 
}
.circle{
    position: absolute;
    border: 2px solid white;
    border-radius: 50%; 
    display: inline-block; /* To adjust the size to the content */
    width: 47%;
    height: 100%;
    animation: rotation 50s linear infinite;
}
.circle ul {
    list-style: none;
    justify-content: center;
}
.li {
    filter: brightness(0) invert(1); 
    border: 2px solid white;
    border-radius: 50%; 
    width: 50px;
    justify-content: center;
    display:flex;
    flex-direction:column;
    height:50px; 
    text-align: center;    
    position: fixed;
}

.li:first-child {
    left:20px;
    top:60px;
}
.li:nth-child(2) {
    left: 195px;
    top: -25px;
}



.li:nth-child(3) {
    left: 360px;
    top:60px;
}

.li:nth-child(4) {
    left: -15px;
    top:200px;
    /* animation: rotation 50s linear infinite; */
}

.li:nth-child(5) {
    left: 390px;
    top:200px;
    /* animation: rotation 50s linear infinite; */
}


.li:nth-child(6) {
    left: 335px;
    top:330px;
    /* animation: rotation 50s linear infinite; */
}

.li:nth-child(7) {
    left: 200px;
    top:390px;
    /* animation: rotation 50s linear infinite; */
}

.li:nth-child(8) {
    left: 30px;
    top:330px;
}

@media only screen and (max-width: 768px) {
    .ul {
        width: auto;
        font-size: 12px;
        padding: 0px 5% 10% 5%;
    }
    .heading {
        margin-top: 10%;
        font-size: 22px;
    }
    .circle{
        position: absolute;
        border: 2px solid white;
        border-radius: 50%; 
        display: inline-block; /* To adjust the size to the content */
        width: 47%;
        height: 100%;
        /* animation: rotation 50s linear infinite; */
    }
    .circle ul {
        list-style: none;
        justify-content: center;
    }
    .li {
        filter: brightness(0) invert(1); 
        border: 2px solid white;
        border-radius: 50%; 
        width: 35px;
        justify-content: center;
        display:flex;
        flex-direction:column;
        height:35px; 
        text-align: center;    
        position: absolute;
    }


    .li:hover {
        filter: brightness(0) invert(1); 

        background-color: red;
    }

    .li:first-child {
        left:130px;
        top:65px;
        /* animation: rotation 50s linear infinite; */
    }
    
    .li:nth-child(2) {
        left: -10px;
        top: 35px;
        /* animation: rotation 50s linear infinite; */
    }
    
    
    .li:nth-child(3) {
        left:50px;
        top:125px;
        /* animation: rotation 50s linear infinite; */
    }
    
    .li:nth-child(4) {
        left:95px;
        top:115px;
        
        /* animation: rotation 50s linear infinite; */
    }
    
    .li:nth-child(5) {
        left: 65px;
        top:-15px;
        /* animation: rotation 50s linear infinite; */
    }
    
    
    .li:nth-child(6) {
        left: 15px;
        top:0px;
        /* animation: rotation 50s linear infinite; */
    }
    
    .li:nth-child(7) {
        left: 110px;
        top:5px;
        /* animation: rotation 50s linear infinite; */
    }
    
    .li:nth-child(8) {
        left: 5px;
        top:100px;
    }
    
   
}

@media only screen and (min-width: 768px) {
    .li:hover {
        /* filter: brightness(0) invert(1);  */
        background-color: red;
    }


}

