.container {
    min-width: 100vw;
    background-color: black;
    color: white;
}
.flex {
    display: flex;
    align-items: center;
    padding: 10px; 
    justify-content: space-between;
    background-color: black;
    color: white;
}
.icon1 {
    transition: all 0.3s ease-out;
    width: 50px;
}
.box3 {
    position: relative;
    justify-content:space-around;
    gap:10px;
}
.box4 {
    top: 12;
    width:100px;
    right:0;
    background-color: black;
    z-index: 105;
    position: absolute;
    height: 150px;
}
.box5{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (max-width: 768px) {
    .flex {
        border: 2px solid green;
    }
    .box1 {
        display: block;
        font-size: x-large;
    }
    .box2 {
        display: none;
    }
    .box3 {
        display: block;
    }
    .box4 {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .flex {
        /* border: 2px solid blue; */
    }
    .box1 {
        /* visibility: hidden; */
        /* display:hidden; */
        display: none;
        font-size: x-large;
    }
    .box2 {
        display: block;
    }
    .box3 {
        display: flex;
    }
    .box4 {
        display: none;
    }
}
