.explore_more {
  color: white;
  height: 3rem;
  background-color:gray;
  font-size: 12px;
  width:60%;
  padding: 1rem 2rem;
  transition-property: box-shadow, background, font-size, height;
  transition-duration: 0.3s, 0.5s, 0.5s, 0.5s;
  transition-timing-function:ease;
}

.explore_more:hover { 
  background-color: rgba(156, 163, 175, 1);
  box-shadow: 0 0 20px rgb(188, 188, 188);
  font-size: 16px;
  color: white;
  height: 4rem;
}
