.explore_more {
    color: white;
    background-color: rgb(181, 181, 181);
    font-size: 14px;
    font-weight:500;
    padding: 1rem 2rem;
    transition-property: box-shadow, background, font-size;
    transition-duration: 0.5s, 0.5s, 0.5s;
    transition-timing-function:ease-in-out,ease-in-out, ease-in-out;    
    transition-delay: 0s, 0s;
    width:70%;
    border-radius: 10px;
  
  }
  
  .explore_more:hover { 
     background-color: rgba(156, 163, 175, 1);
     box-shadow: 0 0 20px rgb(188, 188, 188);
     font-size: 16px;
     color: white;
     transition: box-shadow 0.5s ease-in-out;

    /* transition:box-shadow 0.3s ease-in-out; */
  }